<link rel="stylesheet" href="~/css/heading.css" >
<link rel="stylesheet" href="~/css/cart.css" >


<main class="main">
    <section class="heading">
        <h2 class="heading__heading container">shopping cart</h2>
    </section>
    <section class="cart container">
            <h2 class="visually-hidden">корзина</h2>
            <div class="cart__wrapper">
            <ul class="cart__list">
                <li class="cart__list-item">
                    <img src="img/cart_man_in_hoody.jpg" alt="Man in hoody" width="262" height="306" class="cart__list-img">
                    <div class="cart__list-wrapper">
                        <h3 class="cart__list-heading">mango people t-shirt</h3>
                        <p class="cart__list-text">Price: <span class="cart__list-pink">$300</span></p>
                        <p class="cart__list-text">Color: Red</p>
                        <p class="cart__list-text">Size: Xl</p>
                        <div class="cart__list-subwrapper">
                            <label class="cart__list-text">Quantity:</label>
                            <input type="text" class="cart__list-qty" placeholder="2">
                        </div>
                    </div>
                </li>
                <li class="cart__list-item">
                    <img src="img/cart_man_in_red.jpg" alt="Man in red" width="262" height="306" class="cart__list-img">
                    <div class="cart__list-wrapper">
                        <h3 class="cart__list-heading">mango people t-shirt</h3>
                        <p class="cart__list-text">Price: <span class="cart__list_item_pink">$300</span></p>
                        <p class="cart__list-text">Color: Red</p>
                        <p class="cart__list-text">Size: Xl</p>
                        <div class="cart__list-subwrapper">
                            <label class="cart__list-text">Quantity:</label>
                            <input type="text" class="cart__list-qty" placeholder="2">
                        </div>
                    </div>
                </li>
            </ul>
                <ul class="cart__list-buttons">
                    <li><button type="reset" class="cart__list-button">clear shopping cart</button></li>
                    <li><button type="button" class="cart__list-button">continue shopping</button></li>
                </ul>
            </div>                  
            <div class="cart__shipping_wrapper">
                <form action="post" class="cart__shipping">
                    <h3 class="cart__shipping_heading">shipping adress</h3>
                    <label for="city" class="visually-hidden">City</label>
                    <input type="text" id="city" class="cart__shipping_input" placeholder="Bangladesh">
                    <label for="state" class="visually-hidden">State</label>
                    <input type="text" id="state" class="cart__shipping_input" placeholder="State">
                    <label for="zip" class="visually-hidden">Postcode/zip</label>
                    <input type="text" id="zip" class="cart__shipping_input" placeholder="Postcode / Zip">
                    <button type="submit" class="cart__shipping_button">get a quote</button>
                </form>
                <div class="cart__total">
                    <div class="cart__total_text_wrapper">
                        <p class="cart__subtotal_text">sub total $900</p>
                        <p class="cart__grandtotal_text">grand total $900</p>
                    </div>
                    <div class="cart__total_checkout_wrapper">
                        <hr class="cart__total_line">
                        <button type="submit" class="cart__total_checkout">proceed to checkout</button>
                    </div>
                </div>
            </div>
        <div class="main__overlay"></div>
    </section>
</main>