.catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.catalog__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin: 0;
}

@media (max-width: 1024px) {
    .catalog__grid {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
}

@media (max-width: 635px) {
    .catalog__grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 15px;
    }
}

.catalog__item {
    width: 360px;
    min-height: 581px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #F8F8F8;
    margin: 0;
}

.catalog__item-heading {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    text-transform: uppercase;
    margin: 25px 18px 12px 18px;
}

.catalog__item-text {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    color: #5D5D5D;
    margin: 0 18px 0 18px;
}

.catalog__item-price {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    color: #F16D7F;
    margin: 18px 18px 20px 18px;
}

.catalog__item-imgwrapper {
    position: relative;
    width: 100%;
}

.catalog__item-img {
    width: 100%;
    height: auto;
}

.catalog__item:hover .catalog__item-overlay {
    display: block;
}

.catalog__item:hover .catalog__item-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.catalog__item-overlay {
    width: 100%;
    height: 100%;
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
    display: none;
}

.catalog__item-button {
    border: 1px solid #FFFFFF;
    display: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 13px 15px 13px 15px;
    min-width: 138px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.catalog__item-btntxt {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

.catalog__pagination {
    min-height: 188px;
    padding: 48px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .catalog__pagination {
        min-height: 147px;
        padding: 40px 0 0 0;
    }
}

.catalog__pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 43px;
    width: 283px;
    border: 1px solid #E8E8E8;
    border-radius: 2px;
    padding: 0 15px 0 15px;
}

.catalog__pagination-item, .catalog__pagination-active, .catalog__pagination-link, .catalog__pagination-disabled {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
    color: #E8E8E8;
    text-decoration: none;
}

.catalog__pagination-arrow a {
    color: #222224;
}

.catalog__pagination-active a {
    color: #F16D7F;
}

.catalog__pagination-item a:hover,
.catalog__pagination-arrow a:hover {
    color: #F16D7F;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .tablet_hide {
        display: none;
    }
}
