@import "style.css";


.topmenu:after {
    content: "";
    display: table;
    clear: both;
}

.topmenu > li {
    width: 25%;
    float: left;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

    .topmenu > li > a {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        color: #404040;
        padding: 15px 30px;
    }

.topmenu li a:hover {
    color: #D5B45B;
}

.submenu-link:after {
    content: "\f107";
    font-family: "FontAwesome";
    color: inherit;
    margin-left: 10px;
}

.header__Butka {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    margin: 0 0 0 33px;
}



.header__submenu {
    background: #273037;
    z-index: 5;
    width: 180px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;

    position: relative;
    bottom: 20px;
}

    .submenu a {
        color: white;
        text-align: left;
        padding: 12px 15px;
        font-size: 13px;
        border-bottom: 1px solid rgba(255,255,255,.1);
    }
.header__Butka:hover .header__submenu {
    opacity: 1;
    transform: scaleY(1);
}

.topmenu > li:hover .submenu {
    
}
