.registration__content_wrapper {
    padding: 30px 0 96px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}

@media (max-width: 635px) {
    .registration__content_wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.registration__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 360px;
}

.registration__fieldset {
    margin: 34px 0 0 0;
}

@media (max-width: 635px) {
    .registration__fieldset {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.registration__form_name_legend {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
    color: #222224;
    text-transform: capitalize;
}

@media (max-width: 635px) {
    .registration__form_name_legend {
        padding: 0 0 0 10px;
    }
}

.registration__form_input {
    width: 340px;
    min-height: 44px;
    border: 1px solid #A4A4A4;
    margin: 20px 0 0 0;
    padding: 0 0 0 17px;
    text-transform: capitalize;
}

    .registration__form_input ::-webkit-input-placeholder {
        color: #B1B1B1;
        font-size: 13px;
        line-height: 16px;
        font-weight: 300;
        font-style: normal;
    }

    .registration__form_input ::-moz-placeholder {
        /* Firefox 19+ */
        color: #B1B1B1;
        font-size: 13px;
        line-height: 16px;
        font-weight: 300;
        font-style: normal;
    }

    .registration__form_input :-ms-input-placeholder {
        color: #B1B1B1;
        font-size: 13px;
        line-height: 16px;
        font-weight: 300;
        font-style: normal;
    }

    .registration__form_input :-moz-placeholder {
        /* Firefox 18- */
        color: #B1B1B1;
        font-size: 13px;
        line-height: 16px;
        font-weight: 300;
        font-style: normal;
    }

.registration__fieldset_radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}

@media (max-width: 635px) {
    .registration__fieldset_radio {
        padding: 0 0 0 10px;
    }
}

.registration__form_radio {
    margin: 33px 20px 0 0;
    display: none;
}

.registration__form_gender {
    font-size: 11px;
    line-height: 13px;
    font-weight: 300;
    font-style: normal;
    color: #000000;
    text-transform: capitalize;
    margin: 34px 20px 0 34px;
    position: relative;
}

    .registration__form_gender::before {
        position: absolute;
        content: "";
        width: 17px;
        height: 17px;
        border-radius: 50%;
        border: 1px solid #A4A4A4;
        left: -34px;
        top: -3px;
    }

.registration__form_login_legend {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
    color: #222224;
    text-transform: capitalize;
}

@media (max-width: 635px) {
    .registration__form_login_legend {
        padding: 0 0 0 10px;
    }
}

.registration__form_text {
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;
    font-style: normal;
    color: #B1B1B1;
    margin: 15px 0 0 0;
    display: block;
    max-width: 360px;
}

@media (max-width: 635px) {
    .registration__form_text {
        padding: 0 0 0 10px;
    }
}

.registration__form_submit {
    width: 167px;
    height: 50px;
    margin: 40px 0 0 0;
    background: #F16D7F;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    position: relative;
    text-align: left;
    padding: 0 0 0 30px;
}

@media (max-width: 635px) {
    .registration__form_submit {
        margin: 40px 0 0 10px;
    }
}

.registration__form_submit:hover {
    color: #F16D7F;
    background: #FFFFFF;
    border: 1px solid #F16D7F;
}

.registration__form_submit::after {
    content: url("../img/arrow.svg");
    position: absolute;
    right: 30px;
}

.registration__text {
    max-width: 35%;
}

@media (max-width: 635px) {
    .registration__text {
        max-width: 90%;
        padding: 0 0 0 10px;
    }
}

@media (max-width: 375px) {
    .registration__text {
        padding: 0;
    }
}

.registration__text_heading {
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    font-style: normal;
    color: #000000;
    text-transform: uppercase;
    padding: 34px 0 0 0;
}

@media (max-width: 1024px) {
    .registration__text_heading {
        font-size: 18px;
        line-height: 22px;
        font-weight: 300;
        font-style: normal;
    }
}

@media (max-width: 768px) {
    .registration__text_heading {
        font-size: 16px;
        line-height: 19px;
        font-weight: 300;
        font-style: normal;
    }
}

.registration__text_subheading {
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    font-style: normal;
    color: #000000;
    margin: 22px 0 0 0;
    display: block;
    max-width: 650px;
}

@media (max-width: 1024px) {
    .registration__text_subheading {
        font-size: 18px;
        line-height: 22px;
        font-weight: 300;
        font-style: normal;
    }
}

@media (max-width: 768px) {
    .registration__text_subheading {
        font-size: 16px;
        line-height: 19px;
        font-weight: 300;
        font-style: normal;
        max-width: 355px;
    }
}

.registration__list {
    list-style: none;
}

.registration__list_item {
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    font-style: normal;
    color: #000000;
    margin: 16px 0 0 43px;
    position: relative;
}

@media (max-width: 1024px) {
    .registration__list_item {
        font-size: 18px;
        line-height: 22px;
        font-weight: 300;
        font-style: normal;
    }
}

@media (max-width: 768px) {
    .registration__list_item {
        font-size: 16px;
        line-height: 19px;
        font-weight: 300;
        font-style: normal;
    }
}

.registration__list_item::before {
    content: url("../img/check.svg");
    position: absolute;
    left: -43px;
}
