@model CustomIdentityApp.ViewModels.RegisterViewModel

<form asp-controller="Register" asp-action="Register" method="post" class="registration__form">
    <div asp-validation-summary="ModelOnly"></div>
    <fieldset class="registration__fieldset">
        <legend class="registration__form_name_legend">your name</legend>

        <input asp-for="UserName" type="text" class="registration__form_input" id="username" placeholder="User name">
        <span asp-validation-for="UserName"></span>

    </fieldset>
    <fieldset class="registration__fieldset_radio">
        <legend class="visually-hidden">your gender</legend>
        <input type="radio" name="gender" id="male" class="registration__form_radio">
        <label for="male" class="registration__form_gender">male</label>

        <input type="radio" name="gender" id="female" class="registration__form_radio">
        <label for="female" class="registration__form_gender">female</label>
    </fieldset>
    <fieldset class="registration__fieldset">
        <legend class="registration__form_login_legend">login details</legend>

        <input asp-for="Email" type="email" class="registration__form_input" id="email" placeholder="Email">
        <span asp-validation-for="Email"></span>

        <input asp-for="Password" type="password" class="registration__form_input" id="password" placeholder="Passsword">
        <span asp-validation-for="Email"></span>

        <input asp-for="PasswordConfirm" type="password" class="registration__form_input" id="password" placeholder="Confirm password ">
        <span asp-validation-for="PasswordConfirm"></span>

        <p class="registration__form_text">Please use 8 or more characters, with at least 1 number and a
            mixture of uppercase and lowercase letters</p>
    </fieldset>
    <button type="submit" class="registration__form_submit">join now
    </button>
</form>