@model IEnumerable<Store.Data.User>

<main class="main">
    <section class="heading">
        <h2 class="heading__heading container">Edit users accounts</h2>

        

    </section>
    <section class="registration">
        <div class="registration__content_wrapper container">
            <div class="registration__text">
                <h3 class="registration__text_heading"> Edit Users accounts </h3>
                <p class="registration__text_subheading">Get in on the loyalty program where you can earn points and
                    unlock serious perks. Starting with these as soon as you join:</p>

                <a asp-action="Create">Add new user</a>

                <ul class="registration__list">
                    @foreach (var user in Model)
                    {
                        <li class="registration__list_item">
                            <div>
                                @user.UserName <br> @user.Email 
                            </div>
                            
                        <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                            <button type="submit" class="btn btn-sm btn-danger">
                                Удалить
                            </button>
                        </form>

                        </li>
                    }

                </ul>
            </div>
        </div>
    </section>
    <div class="main__overlay"></div>
</main>
