    <main class="main">
        <section class="heading">
            <h2 class="heading__heading container">registration</h2>
        </section>
        <section class="registration">
            <div class="registration__content_wrapper container">
                <form action="#" method="post" class="registration__form">
                    <fieldset class="registration__fieldset">
                        <legend class="registration__form_name_legend">your name</legend>
                        <input type="text" class="registration__form_input" id="name" placeholder="First name">
                        <input type="text" class="registration__form_input" id="surname" placeholder="Last name">
                    </fieldset>
                    <fieldset class="registration__fieldset_radio">
                        <legend class="visually-hidden">your gender</legend>
                        <input type="radio" name="gender" id="male" class="registration__form_radio">
                        <label for="male" class="registration__form_gender">male</label>

                        <input type="radio" name="gender" id="female" class="registration__form_radio">
                        <label for="female" class="registration__form_gender">female</label>
                    </fieldset>
                    <fieldset class="registration__fieldset">
                        <legend class="registration__form_login_legend">login details</legend>
                        <input type="email" class="registration__form_input" id="email" placeholder="Email">
                        <input type="password" class="registration__form_input" id="password" placeholder="Passsword">
                        <p class="registration__form_text">Please use 8 or more characters, with at least 1 number and a
                            mixture of uppercase and lowercase letters</p>
                    </fieldset>
                    <button type="submit" class="registration__form_submit">join now
                    </button>
                </form>
                <div class="registration__text">
                    <h3 class="registration__text_heading">loyalty has its perks</h3>
                    <p class="registration__text_subheading">Get in on the loyalty program where you can earn points and
                        unlock serious perks. Starting with these as soon as you join:</p>
                    <ul class="registration__list">
                        <li class="registration__list_item">15% off welcome offer</li>
                        <li class="registration__list_item">Free shipping, returns and exchanges on all orders</li>
                        <li class="registration__list_item">$10 off a purchase on your birthday</li>
                        <li class="registration__list_item">Early access to products</li>
                        <li class="registration__list_item">Exclusive offers & rewards</li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="main__overlay"></div>
    </main>